{% extends 'base.html' %}

{% block title %}
Edit Post Form
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col col-span">
    <h2 class="display4">Edit a post for {{user}}</h2>
    <form id='edit_post_form' method="POST" action="/posts/{{post.id}}/edit">
        <div class="mb-2 col-sm-3">
            <label for="title" class="form-label">Title</label>
            <input type='text' class ="form-control" id='title' name='title' value="{{post.title}}">
        </div>
        <div class="mb-2 col-sm-3 shadow-textarea">
            <label for="content" class="form-label">Content</label>
            <textarea id="content" name="content" class="form-control z-depth-1" rows="4" placeholder="Write your content here..." form="edit_post_form">{{post.content}}</textarea>
        </div>
        <div class="mb-2 col-sm-3">
            {% for tag in tags %}
                {% if tag in post.tags %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{tag.name}}" id="tagID{{tag.id}}" name="tags_checklist" form="edit_post_form" checked>
                        <label class="form-check-label" for="tagID{{tag.id}}">{{tag.name}}</label>
                    </div>
                {% else %}
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="{{tag.name}}" id="tagID{{tag.id}}" name="tags_checklist" form="edit_post_form">
                        <label class="form-check-label" for="tagID{{tag.id}}">{{tag.name}}</label>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Edit</button>  <a href='/users/{{post.user_id}}'><button type="button" class="btn btn-warning">Cancel</button></a>
    </form>
    </div>
</div>
{% endblock %}